 body {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
 }

 table {
     width: 1000px;
     height: 500px;
     border-collapse: collapse;
     font-size: xx-large;
     text-align: center;

 }

 table,
 td,
 th {
     border: 5px solid black;
 }

 .efect {
     text-decoration: none;
     color: rgb(0, 191, 255);
 }

 .efect:hover {
     text-decoration: underline;

 }

 .baslik {
     color: darkblue;
 }

 img {
     width: 100%;
     height: 100%;
     object-fit: hidden;
     display: block;
 }