body{
    background-color:#466b7e
}


.menu{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background-color:#284351;
    height: 60px;
}
.menu li{
    padding-top: 10px;
    margin-right: 15px;
}

.menu li a{
    text-decoration: none;
    color: #FFFF;
    display: block;
    padding: 10px 15px;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}
.menu li a:hover{
    background-color: rgb(141, 141, 141);
    border-radius: 4px;
    transition: 0.5s;
}
.menu li:last-child a {  
    background-color: #4a788e; /*Giriş Butonu*/
    border-radius: 4px; 
}
.menu li:first-child a{
    background-color: #4a788e;/*Film izle Butonu*/
    border-radius: 4px; 
}

.menu-altında{
    display: flex;
    list-style: none;
    background-color:#2f5f77 ;
    height: 50px;
    margin-top: -16px;
}

.menu-altında li{
    padding-top:15px ;
    margin-right: 35px;
}


.menu-altında li a{
    text-decoration: none;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    
}
